// Here comes our custom code
main {
    min-height: 500px;
}

.cardShopMaster{
    // Hide the buttons inside cards with this class
    .btn{
        display: none;
    }
    :hover{
        cursor: pointer;
    }
}

.btn[disabled] {
    cursor: not-allowed;
}
