// Here comes our custom code
main {
    min-height: 500px;
}

.cardShopMaster{
    // Hide the buttons inside cards with this class
    .btn{
        display: none;
    }
    :hover{
        cursor: pointer;
    }
}

.btn[disabled] {
    cursor: not-allowed;
}

a.btn.disabled {
    pointer-events: all;
    cursor: not-allowed;
    //.tooltip{
    //    display: none;
    //}
    [data-toggle="tooltip"] {
        display: none;
    }
    &:focus{
        box-shadow: none;
    }
}

//a.btn.disabled:focus{
//    box-shadow: none;
//}
