// Here comes our custom code
main {
    min-height: 500px;
}

.cardShopMaster{
    // Hide the buttons --> dit zijn linken
    a{
        display: none;
    }
    :hover{
        cursor: pointer;
    }
}
